html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* Centraliza o conteúdo interno */
}

.form-signin img {
    display: block;
    margin: 0 auto;
    /* Centraliza a imagem horizontalmente */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.aluno-info {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-details p {
    margin: 10px 0;
}

.info-details strong {
    color: #333;
}

.aluno-foto {
    display: block;
    margin: 10px 0;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.btn-logout {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.btn-logout:hover {
    background-color: #0056b3;
}

.error-message {
    color: #d9534f;
    font-weight: bold;
}

/* Estilo do botão de ajuda */
.help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.help-button button {
    background-color: #f7d547;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
    transition: all 0.3s ease;
}

.help-button button:hover {
    background-color: #e6c236;
    transform: scale(1.1);
}

/* Estilo do pop-up */
.help-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    padding: 20px;
    animation: fadeIn 0.3s ease-in-out;
}

.help-popup-content {
    position: relative;
}

.help-popup-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.help-popup-content .close-btn:hover {
    color: #e63946;
}

.help-popup h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.help-popup p,
.help-popup ul {
    font-size: 14px;
    color: #666;
}

.help-popup ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Animação para o pop-up */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}